@model ComputerAssemblyShop.Orders

@{
    ViewBag.Title = "Create";
}


<div class="modal-content" style="width: 700px; height: 500px">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4 style="text-align:center">Информация о товаре</h4>
    </div>
    <div class="modal-body">
        
        <div class="row justify-content-center">
            <div class="row justify-content-center" style="text-align:center">
                <p>ФИО</p>
                <input class="w-100" type="text" name="Person" />
            </div>
            <div class="row" style="text-align:center">
                <p>Номер телефона</p>
                <input type="text" name="PhoneNumber" />
            </div>
            <div class="row" style="text-align:center">
                <p>Адрес</p>
                <input type="text" name="Address" />
            </div>

            <div class="row" style="text-align:center">
                <p>Стоимость</p>
                @Session["ResultSum"]
            </div>
        </div>

           


        <div class="row justify-content-center">
            <div class="col-lg-5" style="text-align:end">
                @Html.ActionLink("Вернуться к заказу", "Complectation", null, new { @class = "btn btn-primary", @style = "color:white" })
            </div>
            <div class="col-lg-5" style="text-align:start">
                @Html.ActionLink("Оформить заказ", "CreateOrder", new { @class = "btn btn-primary", @style = "color:white", @type = "submit" })
            </div>

        </div>
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
