@model ComputerAssemblyShop.Models.AccessoryTable

@{
    ViewBag.Title = "Details";
}




<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Информация о товаре</h4>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>Название модели:</dt>
            <dd>@Html.DisplayFor(model => model.name)</dd>

            <dt>Цена</dt>
            <dd>@Html.DisplayFor(model => model.price)</dd>

            <dt>Описание</dt>
            <dd>@Html.DisplayFor(model => model.description)</dd>
        </dl>
    </div>
</div>

