@model IEnumerable<ComputerAssemblyShop.Models.Orders>

@{
    ViewBag.Title = "Index";
}

<h2>История заказов</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Идентификатор заказа
        </th>
        <th>
            Стоимость заказа
        </th>
        <th>
            Дата заказа
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem=> item.date)
        </td>
    </tr>
}

</table>
